<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Location Policy Update</title>

    <style>
    option   {color: blue;}
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
    background-color: #dddddd;
    }

    </style>

</head>

<body>

        <h1>Location Policy and Update</h1>
        <div id="content">
            The following changes has been made to the Location Policy.
        </div>
        <br><br>

    {%- if changed_zones -%}

        <table>
          <tr>
            <th>Zone</th>
            <th>Policy</th>
            <th>Groups</th>
          </tr>

    {%- for zone in changed_zones -%}
                <tr>
                    <td>{{ zone.zone_name }}</td>

                        <td>{{ zone.allow_deny }}</td>
                        <td>{{ zone.group_list|join(", ") }} </td>

                </tr>

    {%- endfor -%}
            </table>

    {%- endif -%}

<br><br>
 <form name = "location" action="{{ url_for('config_update')}}" method="get" >
        <input type="submit" value="Change Additional Zones">

    </form>

</body>
</html>
