<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="locale" content="US">
        <meta name="language" content="en">
        <meta name="country" content="US">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Location Policy Manager</title>
        <link rel="stylesheet" href="/static/css/cui-standard.min.css">      
        <link rel="icon" type="image/vnd.microsoft.icon" href="//www.cisco.com/favicon.ico">
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="///www.cisco.com/favicon.ico">
      
       
        <style>
        table {
        
                height:550px; 
                overflow-y:auto;
                max-width: 100%;
                display:block;
                column-span: all;
                white-space: nowrap;
              }
            
        </style>
    </head>
     <body class="cui">
        <form name = "location" action="{{ url_for('test')}}" method="post" >
        <header class="header header--tall">
            <div class="header-bar container">
                <a href="javascript:;" class="header-bar__logo">
                    <span class="icon-cisco"></span>
                </a>
                <div class="header-bar__main">
                    <div class="header-heading">
                        <h1 class="page-title">Location-Based Policy Manager</h1>
                    </div>
                    <div class="header-menus">
                        <ul class="nav nav-tabs">
                            <li class="tab active">
                                <a href="test"><div class="tab__heading" title="Policy">Policy</div></a>
                            </li>
                            <li class="tab">
                                <a href="bootstrap"><div class="tab__heading" title="Admin">Admin</div></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-toolbar">
                    <a href="javascript:;" class="btn btn--icon">
                        <span class="icon-cog"></span>
                    </a>
                </div>
             </div>
            </header>
                
               
               
   <div class="row">
    <div class="col-md-1"> </div>
        
    <div class="col-md-9">
        <h4 class="base-margin-top">Location Policy</h4>
    </div>
   </div>
   
   <div class="row">
    <div class="col-md-1"> </div>
        
    <div class="col-md-11" margin="0px">
       <div class="base-margin-top">
    <div class="table table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <div>Zone</div>
                    </th>
                    <th>
                        <div>Policy</div>
                    </th>
                    <th>
                        <div>User Groups</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                   
                <tr>
                    {%- for zone, policy in zones.items() %}
                    {% set zone_var = ['zone', loop.index]|join %}
                    {% set policy_var = ['policy', loop.index]|join %}
                    {% set group_var = ['group', loop.index]|join %}
                <tr>

                <td width= "40%">
                      <label class="checkbox">
                        <input type="checkbox" name="{{ zone_var }}" value="{{ zone }}">
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label hidden-xs">{{ zone }}</span>
                      </label>

                </td>

<!--
                <td><input type="checkbox" name="{{ zone_var }}" value="{{ zone }}"> {{ zone }}</td>
-->               
                    <td width= "20%">
                    
                    <div class="form-group half-margin-bottom">
                        <div class="form-group__text select">
                            <select id="input-type-select" name="{{ policy_var }}" >
                                {%- for policy_defined, selected in policy['policy'].items() %}
                                <option value={{ policy_defined | lower }}  {{ selected }}>{{ policy_defined }}</option>
                                {%- endfor %}
                            </select>
                        </div>
                    </div>
                   </td> 
                    
 <!--                       
                            <div class="form-group__text select">
                                <select name="{{ policy_var }}" id="input-type-select">
                                    {%- for policy_defined, selected in policy['policy'].items() %}
                                    <option value={{ policy_defined | lower }}  {{ selected }}>{{ policy_defined }}</option>
                                    {%- endfor %}
                                </select>
                                <label for="input-type-select">"{{ policy_var }}"</label>
                            </div>
                     
                 
                    
                    
                    
                    <select name="{{ policy_var }}" >
                        {%- for policy_defined, selected in policy['policy'].items() %}
                            <option value={{ policy_defined | lower }}  {{ selected }}>{{ policy_defined }}</option>
                        {%- endfor %}
                    </select>
                    </td>
-->                     
                    
                    
                <td width= "40%" padding-right="45px">
                <select name="{{ group_var }}" multiple size={{ policy['groups'] | length + 1 }}>
                    {%- for group, selected in policy['groups'].items() %}
                        <option value="{{ group }}"  {{ selected }}>{{ group }}</option>
                    {%- endfor %}
                </select>
                </td>
                
               </tr>
                    {%- endfor %}
                    
                    <tr>
                    
                    <td>
                      <label class="checkbox">
                        <input type="checkbox" name="zone_default" value="default_policy">
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label hidden-xs">Default Policy</span> 
                    </label>
                    <p>The default policy will be applied to any coverage areas not in a defined zone.</p>
                    </td>
                    
                    
<!--
                    <td><input type="checkbox" name="zone_default" value="default_policy"> Default Policy<br>
                      <font face="Courier" size="2"><span class='notbold'><i>The default policy will be applied to any coverage areas not in a defined zone.</i></span></font>
                    </td>
                    
  
                    <td>
                    <select name="policy_default">
                        {%- for policy, selected in default_policy['policy'].items() %}
                            <option value={{ policy | lower }}  {{ selected }}>{{ policy }}</option>
                        {%- endfor %}
                    </select>
                    </td>
                 
  -->                  
              <td>    
              <div class="form-group" half-margin-bottom">
                <div class="form-group__text select">
                    <select id="input-type-select" name="policy_default">
                       {%- for policy, selected in default_policy['policy'].items() %}
                            <option value={{ policy | lower }}  {{ selected }}>{{ policy }}</option>
                        {%- endfor %} 
                    </select>
                 </div>
             </div>
             </td>
                  
                  
                 
                  
                  
                  
                  
                              
                    
                    <td style="min-width:100%">
                        <select name="group_default" multiple size={{ default_policy['groups'] | length + 1 }}>
                            {%- for group, selected in default_policy['groups'].items() %}
                                <option value="{{ group }}"  {{ selected }}>{{ group }}</option>
                            {%- endfor %}

                        </select>
                    </td>
                </tr>
                
                </tbody>
            </table>
        </div>
</div>
    </div>
   </div>
   

<div class="row">
              
</div>    
                   
                

    
       
         <div class="row">
            <div class="col-md-1"> 
            </div>
    
            <div class="col-md-9">

                <button class="btn btn--primary" type="submit" value="Submit">Submit</button>
                <button class="btn btn--primary base-margin-top base-margin-bottom" type="reset" value="Submit" >Reset</button>
           </div>             
         </div>                  

   
</div>
                
                
                
        <footer class="footer footer--basic">
            <div class="footer__links">    
            </div>
        </footer>
            </main>
        </div>
      </form>
    </body>
</html>
